
@import './variables/variable.scss';

    .header{
        position:fixed;
        width:100%;
        pointer-events: none;
        z-index: 2;
        .topHeader{
            width:100%;
            position:absolute;
            pointer-events: auto;
            top:-50px;
            transition: all 0.3s;
            z-index: 1;
            height:50px;
            display: flex;
            justify-content: space-between;
            padding:0 1em;
            align-items: center;
            background:$keyColor;

            .hamburgerWrap{
                display: none;
                .center {
                    width:1.7em;
                    height:1.7em;
                    display: flex;
                    // justify-content: space-around;
                    justify-content: center;
                    align-items:center;
                    flex-direction: column;
                  }
                  .center.on{
                  }  
                
                  .center:before,
                  .center:after,
                  .center div {
                    background: #fff;
                    content: "";
                    display: block;
                    height: 2px;
                    width:100%;
                    border-radius: 3px;
                    // margin: 7px 0;
                    transition: 0.5s;
                    pointer-events: none;
                    margin:11.5% 0;
                  }
                  
                  .center.on:before {
                    transform: translateY(400%) rotate(135deg);
                  }
                  .center.on:after {
                    transform: translateY(-400%) rotate(-135deg);
                  }
                  .center.on div {
                    transform: scale(0);
                  }
                  
            }
        }

        .subHeader {
            height:calc(100vh);
            pointer-events: auto;
            position: relative;
            overflow: hidden;
            top:0px;
            transition: all 0.3s;
            width:80px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            position:relative;
            padding:1.5em;
            text-align: left;
            background-color:#0058A3;
            ul{
                li{
                    padding-bottom: 2.3em;
                    font-weight: 600;
                    font-size: 0.85em;
                    white-space: nowrap;
                    a{
                        display: flex;
                        justify-content: flex-start; 
                        align-items: center;
                        img{margin-right: 0.7em;}
                        span{
                            opacity: 0;
                            color:#fff;
                            transition: opacity 0.3s;
                            position: relative;
                            // ======== hover시 밑줄 효과 =======

                            // &:after{
                            //     content: '';
                            //     position:absolute;
                            //     clear: both;
                            //     width:100%;
                            //     transform: scaleX(0);
                            //     transition: transform 0.3s;
                            //     height:1px;
                            //     bottom:-4px;
                            //     left:0;
                            //     background-color: #fff;
                            // }
                        }
                    }

                }
            }
            &.on{
            width:220px;
            
            ul{
                li{
                    a{
                        span{
                            opacity: 1;
                            color:#fff;
                            transition: color 0.3s;
                        }
                    }
                    a:hover{
                        span{
                            color:#ffd54f;
                        }
                    }
                }
            }
            }

            &:focus{
                width:220px;
            
                ul{
                    li{
                        a{
                            span{
    
                            }
                        }
                    }
                }
                }
            }

        }
        @include mobile{
        .header{
            .topHeader{
                .hamburgerWrap{
                    display: block;
                }
            }
            .subHeader{
                width:100%;
                height:auto;
                max-height: 0;
                transition: max-height 0.5s;
                overflow: hidden;
                justify-content: flex-end;
                padding:0;
                ul{
                    padding:1.5em;
                    li{
                    padding-bottom: 1.8em;
                    &:last-child{
                        padding-bottom: 1em;
                    }
                        a{
                            span{
                                opacity: 1;
                            }
                        }
                    }
                }

                &.on{
                    width:100%;
                    max-height: 350px;
                    ul{
                        li{
                            a{
                                span{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                
                }

            }
        }

        }


    .header.on{
        .topHeader{
            top:0px;
        }
        .subHeader{
            top:50px;
        }
    }
